@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@350;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,400,100,1;0,9..144,700,100,1;1,9..144,400,100,1;1,9..144,700,100,1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,700;1,7..72,400;1,7..72,700&display=swap");

:root {
  font-family: "Fraunces", serif;

  color-scheme: light dark;
  color: black;
  background-color: white;
}

a {
  color: blue;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
a:visited {
  /* it won't let me change the text-decoration-style or font-weight here for some reason. */
  text-decoration-color: lightblue;
}

body {
  margin: 0.5rem;
}

h1,
h2,
h3 {
  font-family: "Carter One", cursive;
}

code {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-variant-ligatures: none;
  color: darkviolet;
  background-color: rgb(202, 255, 255);
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: nowrap;
  /*
  text-decoration-line: underline;
  text-decoration-thickness: 15%;
  text-decoration-color: aqua;*/
}

pre {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-variant-ligatures: none;
  background-color: blue;
  color: cyan;
  border-radius: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-width: 0.25em;
  border-style: solid;
  border-color: darkseagreen;
}

.phil-notes {
  background-color: yellow;
  color: brown;
  font-family: "Merienda", cursive;
  font-size: 110%;
  border-width: 0.1em;
  border-style: solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  margin: 0.2em;
  text-align: justify;
}
