@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@350;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,400,100,1;0,9..144,700,100,1;1,9..144,400,100,1;1,9..144,700,100,1&display=swap");

:root {
  font-family: "Fraunces", serif;

  color-scheme: light dark;
  color: black;
  background-color: white;
}

/* A compromise.  The blue letters are sometimes hard to read and 
 * I don't want to find one more color that matches my style.
 * So the text in an <a> is black or whatever we're using for
 * the rest of the text.  But the underline is always visible,
 * and it's thicker than usual so you don't miss it.  And the
 * colors of the underline match the blue and the purple that
 * are used by default for the entire <a>.  I.e. colors that people
 * will recognize and understand.  */
a {
  color: black;
  text-decoration-color: #1b73e8;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 15%;
}
a:visited {
  text-decoration-color: #881180;
}
.self-link {
  text-decoration: none;
}

body {
  margin: 0.5rem;
}

h1,
h2,
h3 {
  font-family: "Carter One", cursive;
}
h2 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
h3,
p {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
p {
  text-align: justify;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

code {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-variant-ligatures: none;
  color: blue;
  background-color: rgb(202, 255, 255);
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: nowrap;
}

code.with-border {
  border-style: solid;
  border-width: medium;
}

pre {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-variant-ligatures: none;
  background-color: blue;
  color: cyan;
  border-radius: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-width: 0.25em;
  border-style: solid;
  border-color: darkseagreen;
}

.phil-notes {
  background-color: yellow;
  color: brown;
  font-family: "Merienda", cursive;
  font-size: 110%;
  border-width: 0.1em;
  border-style: solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  margin: 0.2em;
  text-align: justify;
}

.figure {
  border-radius: 1.5em;
  padding: 0.75em;
  background-color: #f7f7f7;
  margin-left: 10vmin;
  margin-right: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.figure > :first-child {
  flex-shrink: 1;
  max-width: calc(min(100%, 80vmin));
  max-height: 80vmin;
}
.figure div {
  text-align: center;
}

.superscript {
  position: relative;
  font-size: 0.667em;
  position: relative;
  bottom: 0.5em;
}
.superscript::before {
  /* 2pt is a hack!  I tried 0.1em, but it seems like em's aren't completely linear.  They didn't work well with small values. */
  font-size: 2pt;
  content: " ";
}

ul.toc-top > li {
  margin-top: 0.5em;
  font-size: 1.25em;
}

ul.toc-top > ul {
  padding-left: 1.35em;
}

/* Yuck.  A <ul> should not be placed directly inside another <ul>.
 * (put the <ul> inside the previous <li>.)
 * But I don't want to try to fix it right now, because I know it will break other things. */
ul.toc-top > ul > li {
  margin-bottom: 0.1em;
}
